{% extends 'base.html.twig' %}

{% block title %}Купить {{ item.categoryName }} {{ item.name }} для кофемашин по низкой цене в Москве{% endblock %}
{% block description %}У нас вы можете купить {{ item.categoryName }} {{ item.name }} для кофемашин. ✅ Доставка по Москве. ✅ В розницу и оптом. 🔥 Премиальный кофе по доступной цене.{% endblock %}
{% block h1 %}Купить {{ item.categoryName }} {{ item.name }} для кофемашин{% endblock %}

{% block body %}
    <div class="cartochkabrenda">
        <div class="container">
            <div class="cartochkabrenda-container">
                <div class="row">
                    <div class="col-lg-5  cartochkabrenda-img">
                        <img src="{{ asset('img/cofe/'~item.image) }}" alt="{{ item.name }}">
                    </div>
                    <div class="col-lg-7  cartochkabrenda-text">
                        <div class="zag2">{{ item.categoryName }} {{ item.name }} Цена:</div>
                        {{ item.description|raw }}
                        <div class="price_container">
                            Стоимость {{ item.categoryName }} {{ item.name }} — {{ item.price }} ₽/{{ item.categoryId == 1 ? 'КГ':'Капсула'}}
                        </div>
                        <button class="btn btn-vizovbespldiagn zakzv-btn">Заказать</button>
                        <button class="btn btn-vizovbespldiagn zakzv-btn">Получить консультацию</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
