<div class="cartochkabrenda">
    <div class="container">
        <div class="cartochkabrenda-container">
            <div class="row">
                <div class="col-lg-5  cartochkabrenda-img">
                    <img src="{{ asset('img/type_images/'~type.image) }}" alt="{{ type.name }}">
                </div>
                <div class="col-lg-7  cartochkabrenda-text">
                    <div class="zag2">{{ type.metaTitle }}</div>
                    <p>Наш ремонтный центр предлагает всем, кто имеет {{ type.name }}, ассортимент сервисных услуг, выполнением которых будут заниматься дипломированные инженеры с большим стажем работы. Посетив нашу сервисную мастерскую, вы сможете убедиться в том, что она оборудована по последнему слову и техники, а нашем личном складе имеется запас деталей ко всем моделям.</p>
                    <ul>
                        <li>✅ Бесплатная доставка до сервиса.</li>
                        <li>✅ Гарантия на {{ type.metaTitle }} от 6 месяцев.</li>
                        <li>✅ Ремонтируем только то, что действительно сломалось!</li>
                    </ul>
                    <div class="price">{{ type.metaTitle }} от 450₽</div>
                    <p class="minutp">Получите предложение уже через 7 минут</p>
                    <button class="btn btn-vizovbespldiagn">Бесплатная диагностика</button>
                </div>
            </div>
        </div>
    </div>

</div>