<!--Третий блок (ПРЕИМУЩЕСТВА С ВИДЕОФОНОМ)-->
<div class="block3">
    <div id="video-bg">
        <video preload="auto" autoplay="autoplay"
               loop="loop" poster="{{ asset('img/banner3.jpg') }}">
            <source src="{{ asset('video/videofon.mp4') }}" type="video/mp4">
            <source src="{{ asset('video/videofon.webm') }}" type="video/webm">
        </video>
    </div>
    <div class="preim-wrap">
        <div class="container">
            <h2 class="zag1">Преимущества</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/bustrui-remont.png') }}" alt="*"></div>
                        <div class="preim-zag">Быстрый ремонт</div>
                        <div class="preim-text">Максимально быстро выполняем ремонт кофемашины</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/garantia.png') }}" alt="*"></div>
                        <div class="preim-zag">Гарантия</div>
                        <div class="preim-text">Предоставляем гарантию до 2 лет</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/diagnostika.png') }}" alt="*"></div>
                        <div class="preim-zag">Бесплатная диагностика</div>
                        <div class="preim-text">Диагностика кофемашины совершенно бесплатно</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/oplata.png') }}" alt="*"></div>
                        <div class="preim-zag">Оплата</div>
                        <div class="preim-text">Принимаем наличные, карты и безналичный расчет для юр. лиц.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/dostavka.png') }}" alt="*"></div>
                        <div class="preim-zag">Доставка</div>
                        <div class="preim-text">Доставка кофемашин до сервисного центра в день обращения</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/vuezd-mastera.png') }}" alt="*"></div>
                        <div class="preim-zag">Выезд мастера</div>
                        <div class="preim-text">Бесплатный выезд мастера на дом</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 offset-lg-2 offset-xl-0 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/zapchasti.png') }}" alt="*"></div>
                        <div class="preim-zag">Запчасти</div>
                        <div class="preim-text">Используем только качественные и оригинальные запчасти</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img src="{{ asset('img/cena.png') }}" alt="*"></div>
                        <div class="preim-zag">Низкая стоимость</div>
                        <div class="preim-text">Цены на ремонт кофемашин ниже, чем у конкурентов.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец ТРЕТЬЕГО блока-->