<!--ПОДВАЛ-->
<div class="footer">
    <div class="container">
        <div class="footer-wrap1">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6"><a href="#"><img src="{{ asset('img/logo.png') }}" alt="*"></a></div>
                <div class="col-lg-3 col-md-4 col-sm-6 dn570">
                    <a href="#" class="zag2">ПОПУЛЯРНЫЕ <br>НЕИСПРАВНОСТИ</a>
                    <a href="{{ path('breakdown_item',{'breakdown':'ne-zapuskaetsya-kofemashina'}) }}">Не запускается</a>
                    <a href="{{ path('breakdown_item',{'breakdown':'net-podachi-vody-kofemashina'}) }}">Нет подачи воды</a>
                    <a href="{{ path('breakdown_item',{'breakdown':'ne-izmelchaet-kofe-kofemashina'}) }}">Не измельчает кофе</a>
                    <a href="{{ path('breakdown_item',{'breakdown':'plohaya-podacha-kofe-kofemashina'}) }}">Плохая подача кофе</a>
                    <a href="{{ path('breakdown_item',{'breakdown':'ne-nagrevaet-vodu-kofemashina'}) }}">Не нагревает воду</a>
                </div>
                <div class="col-lg-3 col-md-4 dn760">
                    <a href="javascript:void(0)" class="zag2">ТОПОВЫЕ БРЕНДЫ</a>
                    <a href="{{ path('brand',{'brand':'delonghi'})  }}">Delonghi</a>
                    <a href="{{ path('brand',{'brand':'franke'})  }}">Franke</a>
                    <a href="{{ path('brand',{'brand':'jura'})  }}">Jura</a>
                    <a href="{{ path('brand',{'brand':'bosch'})  }}">Bosch</a>
                    <a href="{{ path('brand',{'brand':'bork'})  }}">Bork</a>
                    <a href="{{ path('brand',{'brand':'saeco'})  }}">Saeco</a>
                </div>
                <div class="col-lg-3 dn920">
                    <a href="#" class="zag2">Проконсультируем вас</a>
                    <form action="#">
                        <input type="text">
                        <input type="submit" class="fbtn">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-wrap2">
            <div class="row">
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class="zag2">СВЯЗАТЬСЯ С НАМИ:</div>
                    <p>Время работы службы поддержки <br> с 8:00 до 21:00 ежедневно</p>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <span class="fsmal">МОСКВА</span>
                    <a class="zag2" href="tel:89254061310">8 (925) 406-13-10</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Конец ПОДВАЛА-->