<!--Блок РЕЙТИНГИ начало-->
{% set ratingItems = [
    {
        'link' : 'https://www.yell.ru/moscow/com/remont-kofemashin_12084856/',
        'img': 'img/rating/logo-yell.png',
        'alt': 'Yell.ru',
        'stars': 5,
        'rating': 5.0
    },
    {
        'link' : 'https://yandex.ru/maps/-/CCQheEBtdD',
        'img': 'img/rating/logo-yandex.png',
        'alt': 'Yandex',
        'stars': 4.5,
        'rating': 4.4
    },
    {
        'link' : 'https://g.page/RemKof?share',
        'img': 'img/rating/logo-google.png',
        'alt': 'Google',
        'stars': 5,
        'rating': 5.0
    },
] %}
<div class="rating">
    <div class="container container2">
        <h2>Независимые отзывы:</h2>
        {{ include('modules/rating_schema.html.twig',{ratingValue: page.ratingValue|default(4.8), ratingCount: page.ratingCount|default(17) }) }}
        <div class="row">
            {% for ratingItem in ratingItems %}
                <div class="col-lg-4 col-12">
                    <a target="_blank" href="{{ ratingItem.link }}">
                        <div class="rating-card">
                            <div class="img">
                                <img src="{{ asset(ratingItem.img) }}"  alt="{{ ratingItem.alt }}">
                            </div>
                            <div class="text">
                                <span>рейтинг</span>
                                {{ stars(ratingItem.stars) }}
                                <b>{{ ratingItem.rating }} из 5</b>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--Блок РЕЙТИНГИ Конец-->