<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Ремонт кофемашин{% endblock %}</title>
    <meta name="description" content="{% block description %}Ремонт кофемашин{% endblock %} 🔥 цена {% block description_repair %}{% endblock %} от {% block description_price %}450{% endblock %}₽. ✅ Бесплатный выезд на дом и диагностика кофемашины. ✅ Любой район Москвы и области. ✅ Гарантия на ремонт до 2 лет.  ⭐ Сервисный центр «Ремонт Кофемашин» ☎ 8(495)015-60-98.">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/media.css') }}">
    {% endblock %}
    {{ include('modules/scripts/_ymetrics.html.twig') }}
</head>

<body>
{{ include('modules/_navigation.html.twig') }}

<!--первый блок со слайдером-->
<div class="block1" id="anchor3">
    <div class="wrapper">
        <div class="container">
            <div class="row ">
                <div class="col-sm-6 col-4 logo">
                    <img src="{{ asset('img/logo.png') }}" alt="1">
                </div>
                <div class="col-sm-6 col-8 phone text-right">
                    <span><a href="tel:84950156098">8 (495) 015-60-98</a> </span>
                    <span class="zakzv zakzv-btn">ЗАКАЗАТЬ ЗВОНОК</span>
                    <span >с 8:00 до 21:00 ежедневно</span>
                    <span class="mail"><img src="{{ asset('img/email.png') }}" alt="email: "> remont-kofemahin@mail.ru </span>

                </div>
                <div class="zag">
                    <h1>{% block h1 %}Ремонт кофемашин в Москве{% endblock %}</h1>
                </div>
                <div class="offer">
                    <div><span><img src="{{ asset('img/zernushko.png') }}" alt="*"> Бесплатный выезд и диагностика кофемашины.</span>
                    </div>
                    <div><span><img src="{{ asset('img/zernushko.png') }}" alt="*"> Любой район Москвы и Московской области.</span>
                    </div>
                    <div><span><img src="{{ asset('img/zernushko.png') }}" alt="*"> Гарантия на ремонт до 2 лет</span></div>

                </div>
            </div>
        </div>

    </div>

    <div class="slider">
        <ul class="slides">
            <li class="slide foto-1">
                <div class="box" style="">
                </div>
            </li>
            <li class="slide foto-2">
                <div class="box" style="">
                </div>
            </li>
            <li class="slide foto-3">
                <div class="box" style="">
                </div>
            </li>
        </ul>
    </div>
</div>
<!--конец Перв блок -->
{% block body %}

{% endblock %}

{{ include('modules/_fotter.html.twig') }}
{{ include('modules/_modal_window_callback.html.twig') }}
{{ include('modules/_whatsapp_button.html.twig') }}
{{ include('modules/scripts/_redhelper.html.twig') }}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.glide.js') }}"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('js/modal_handler.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>