<div class="preim-wrap">
    <div class="container">
        <h2 class="zag1">Преимущества</h2>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/bustrui-remont.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Быстрый ремонт. </b></div>
                    <div class="preim-text">Максимально быстро выполняем ремонт кофемашины {{ page.name }}</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/garantia.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Гарантия. </b></div>
                    <div class="preim-text">Предоставляем гарантию до 2 лет</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/diagnostika.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Бесплатная диагностика. </b></div>
                    <div class="preim-text">Диагностика кофемашины {{ page.name }} совершенно бесплатно</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/oplata.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Оплата. </b></div>
                    <div class="preim-text">Принимаем наличные, карты и безналичный расчет для юр. лиц.</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/dostavka.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Доставка. </b></div>
                    <div class="preim-text">Доставка кофемашин до сервисного центра в день обращения</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/vuezd-mastera.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Выезд мастера. </b></div>
                    <div class="preim-text">Бесплатный выезд мастера на дом</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 offset-lg-2 offset-xl-0 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/zapchasti.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Запчасти. </b></div>
                    <div class="preim-text">Используем только качественные и оригинальные запчасти</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="preim preim1">
                    <div class="preim-img"><img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/cena.png') }}" alt="*"></div>
                    <div class="preim-zag"><b>Низкая стоимость. </b></div>
                    <div class="preim-text">Цены на ремонт кофемашин {{ page.name }} ниже, чем у конкурентов.</div>
                </div>
            </div>
        </div>
    </div>
</div>