<div class="offer">
    <p>
        <img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/zernushko.png') }}" alt="*">
        Бесплатный выезд и диагностика кофемашины.
    </p>
    <p>
        <img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/zernushko.png') }}" alt="*">
        Любой район Москвы и Московской области.
    </p>
    <p>
        <img src="{{ app.request.schemeAndHttpHost }}{{ asset('img/zernushko.png') }}" alt="*">
        Гарантия на ремонт до 2 лет
    </p>
</div>